

<!-- page-header -->
<div class="hero">
    <div class="page-header" >
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-caption">
                        <h1 class="page-title">Hotel booking Management System</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header-->
    <!-- news -->
    <div class="card-section">
        <div class="container">
            <div class="card-block bg-white mb30">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <!-- section-title -->
                        <div class="section-title mb-0">
                            <h1 class="text-center">Hotel Booking management System</h1>
                            <p>It is a cost-effective and reliable online reservations
                                solution that eliminates intermediaries and allows hoteliers to sell their
                                inventory directly to the guests.It equips hotels with a responsive
                                booking engine and an advanced booking solution for packages and stay
                                enrichments, transforming it into a real-time sales engine, also
                                offers the option to sell directly through the hotel's branded pages on social
                                media. 
                            </p>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="carousel slide" id="travel-slider" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#travel-slider" data-slide-to="0" class="active"></li>
                <li data-target="#travel-slider" data-slide-to="1"></li>
                <li data-target="#travel-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/slider_one.jpg" alt="" class="img-fluid w-100">
                    <div class="carousel-caption text-left animated zoomIn delay-1s">
                        <h5 class="display-4">Feel The JOY</h5>
                        <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur culpa eaque et eum maxime nisi perferendis quo ratione repellendus vitae.</p>
                        <button class="btn btn-teal">Read More</button> -->
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../assets/slider_two.jpg" alt="" class="img-fluid w-100">
                    <div class="carousel-caption text-right animated zoomIn delay-1s">
                        <h5 class="display-4">Ultimate Destination</h5>
                        <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur culpa eaque et eum maxime nisi perferendis quo ratione repellendus vitae.</p>
                        <button class="btn btn-teal">Read More</button> -->
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../assets/slider_three.jpg" alt="" class="img-fluid w-100">
                    <div class="carousel-caption text-left animated zoomIn delay-1s">
                        <h5 class="display-4">Be Relaxed in Nature</h5>
                        <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur culpa eaque et eum maxime nisi perferendis quo ratione repellendus vitae.</p>
                        <button class="btn btn-teal">Read More</button> -->
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#travel-slider" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#travel-slider" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
    <!-- Footer -->
    <section id="footer">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                    <ul class="list-unstyled list-inline social text-center">
                        <!-- <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a> -->
                            <li class="list-inline-item"><a href="https://www.facebook.com/vivek.chitriv.39"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i
                                    class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <p><u><a href="#">Hotel Booking Management System</a></u> is a Registered Website</p>
                    <p>CopyRight © 2021 Digital All Rights Reserved</p>
                </div>

            </div>
        </div>
    </section>
</div>

<script src="../../assets/bootstrap/css/bootstrap.min.css"></script>
<script src="../../assets/bootstrap/js/jquery.min.js"></script>
<script src="../../assets/bootstrap/js/popper.min.js"></script>
<script src="../../assets/bootstrap/js/bootstrap.js"></script>
<script src="../../assets/bootstrap/js/mdb.js"></script>
<script>
    $('.carousel').carousel({
        interval : 100,
        pause : 'hover'
    });
</script>