<nav class="navbar navbar-expand-sm navbar-light" >
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" >
      <li class="nav-item active" *ngIf='!isLoggedIn()'>
        <a class="nav-link " routerLink="/">
        
          <p>
            
            <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
              <!-- Include text description of the icon's meaning for screen-readers -->
              <span class="cdk-visually-hidden">
                Example with a home icon with overlaid badge showing the number 15
              </span>
          </p>
        </a>
      </li>
      <li class="nav-item active" *ngIf='!isLoggedIn()'>
        <a class="nav-link " routerLink="/visitor"><button mat-raised-button color="primary"
          matBadge="8" matBadgePosition="before" matBadgeColor="accent">
          View Hotels
      </button></a>
      </li>
    </ul>
    <ul class="navbar-nav float-right" >
      <li class="nav-item active" *ngIf='!isLoggedIn()'>
        <a class="nav-link " routerLink="/login">
          <button mat-raised-button color="primary"
      matBadge="8" matBadgePosition="before" matBadgeColor="accent">
      Login
  </button></a>
      </li>
      <li class="nav-item active" *ngIf='!isLoggedIn()'>
        <a class="nav-link " routerLink="/register">
          <button mat-raised-button color="primary"
      matBadge="8" matBadgePosition="before" matBadgeColor="accent">
      Register
  </button></a>
  
      </li>
    </ul>
  </div>
</nav>